.dayBlock{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    width: 80%;
    height: 40%;
    border: 1px solid black;
    margin-top: 2%;
    border-radius: 10px;
}

.dayblockHeader{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.infoHeader{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding-left: 3%;
}

.icon{
    width: 50px;
    height: 50px;
    margin-top: 5px;
}

.informationBox{
    width: 100%;
    justify-content: flex-start;
    padding: 3% 5% 0%;
}

.uvindex{
    padding: 8px;
    border: 1px solid black;
    border-radius: 10%;
}