.historyContainer{
    border: solid 3px black;
    height: 89%;
    width: 17.5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.searchHistoryHeader{
    width: 100%;
    height: fit-content;
    justify-self: center;
    text-align: center;
    margin-top: 5%;
}

.buttonContainer{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
    margin-top: 5%;
    height: 85%;
}

.clearHistory{
    width: 100%;
    height: 5%;
    margin: 1% 1% 3%;
    align-self: flex-end;
}